[submodule "matlab-pvmeteo"]
	path = matlab-pvmeteo
	url = git@github.com:martinherrerias/matlab-pvmeteo
[submodule "external/yaml"]
	path = external/yaml
	url = https://gitlab.hhi.fraunhofer.de/daube/yamlmatlab.git
[submodule "external/clipper"]
	path = external/clipper
	url = git@github.com:martinherrerias/matlab-polygon-clipper.git
[submodule "external/jigsaw-matlab"]
	path = external/jigsaw/jigsaw-matlab
	url = https://github.com/dengwirda/jigsaw-matlab.git
[submodule "pvCplusplus/eigen"]
	path = pvCplusplus/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "pvCplusplus/libigl"]
	path = pvCplusplus/libigl
	url = https://github.com/libigl/libigl.git
